.menu {
    margin: 20px 0;
}
.menu a {
    text-decoration: none;
}
.resultado {
    min-height: 60px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    font-size: 1.5rem;
}
.fw-bold{
    color: rgb(102, 201, 168);
}
.letterpress{
    text-align: center !important;
    font-size: 2rem;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* círculo perfecto */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a855f7;
    font-weight: bold;
  }
  li{
    list-style-type: none;
    flex: 0 0 auto; /* Evita que se ajusten de tamaño y se vayan abajo */
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* ¡Para que no salten abajo! */
    gap: 20px;
    overflow-x: auto; /* Para permitir scroll horizontal si no cabe */
  }
  .options{
    color: #473535b0;
  }